{# show habitats #}
{% extends 'base.html.twig' %}

{% block styles %}
    <style>
        .carousel-item img {
            max-width: 100%;
            max-height: 400px;
            display: block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Page des habitats</h1>
        <p>Listing des habitats en panorama</p>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% set isFirst = true %}    
                {% for habitat in habitats %}
                    {% for image in habitat.images %}
                        <div class="carousel-item {% if isFirst %}active{% endif %}">
                            <img class="d-block img-fluid" src="{{ asset('images/products/' ~ image.imageName) }}" alt="{{ image.imageName }}">
                        </div>
                        {% set isFirst = false %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
