body {
    background-color: #f4f4f4;
}

.navbar-container {
    background-color: #5C946E;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    padding: 0 20px;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #C9FBAC;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .navbar-brand:hover {
    color: #C9FBAC;
}


.nav-link.active {
    color: rgb(16, 74, 26) !important; 
}

.navbar-brand.active {
    color: rgb(16, 74, 26) !important; 
}

.btn-success {
    background-color: #A7D49B;
    border: none;
}

.btn-success:hover {
    background-color: #8CBF88;
}

/* Import Bootstrap CSS */
@import "~bootstrap/scss/bootstrap";
