<p>
    Félicitation ! Vous avez bien été inscrit dans le personnel du site.
</p>

<ul>
    <li><strong>Identifiant :</strong> {{ user.email }}</li>
</ul>

<p>
    Après avoir récupéré votre mot de passe auprès de José, vous connecter sur le site.
</p> 