{# new rapport #}
{% extends 'base.html.twig'%}

{% block title 'Ajouter un rapport'%}

{% block body %}
<div class="container mt-4">
    <h1>Ajouter un nouveau rapport</h1>
    {{ include('/admin/veterinary/_form.html.twig', {form: form, button:'Ajouter'})}}
</div>
{% endblock %}